<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>exercice 1 : </h1>
<span>
<input type ="text" [(ngModel)]="note" />
<button name = "addNote"   (click)="addNote()">addNote</button>
<button (click) = "deleteAll()">delete all</button>



</span>

<ul>
<li [ngStyle]="{'color': editcolor()}" *ngFor = "let n of Notes"> {{ n }}   <button (click)="popeee()">X</button></li>
</ul> 


</body>
</html> -->

